body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

/* Header */
.header {
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1% 15%;
  background-color: #333;
  align-items: center;
}

.logo {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.navbar li{
  display: inline-block;
  padding-right: 3rem;
}

.navLink {
  text-decoration: none;
  color: #ffffff;
}

/* HomePage */

.home {
  height: 75vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../michael-glass-vflFGBYCiO8-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.pageHeading {
  font-size: 600%;
  font-family: Mansalva, sans-serif;
  font-weight: 500;
  margin: 0;
  color: #6EE2FF;
}

.pageSubHeading {
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  letter-spacing: -1;
}

/* Features Section */

.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 3% 15%;
  color: #333;
  background-color: #BAF1FF;
}

.promo-A, .promo-B {
  height: 300px;
  display: flex;
  padding: 2rem;
}

.promo-img-A, .promo-img-B {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.promo-img-A {
  margin-right: 1.5rem;
}

.promo-img-B {
  maring-left: 1.5rem;
}

.promo-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
