body {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

/* Header */
.header {
  height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1% 15%;
  background-color: #377180;
  align-items: center; 
}

.logo {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.navbar li{
  display: inline-block;
  padding-right: 3rem;
}

.navLink {
  text-decoration: none;
  color: #6EE2FF;
}

/* HomePage */

.home {
  height: 75vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../michael-glass-vflFGBYCiO8-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #6EE2FF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.pageHeading {
  font-size: 600%;
  font-family: Mansalva, sans-serif;
  font-weight: 500;
  margin: 0;
  color: #6EE2FF;
}

.pageSubHeading {
  font-size: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  letter-spacing: -1;
  color: #6EE2FF;
}

/* Features Section */

.skills{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 3% 15%;
  color: #333;
  background-color: #BAF1FF;
}

.promo-A, .promo-B {
  height: 300px;
  display: flex;
  padding: 2rem;
}

.promo-img-A, .promo-img-B {
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.promo-img-A {
  margin-right: 1.5rem;
}

.promo-img-B {
  margin-left: 1.5rem;
}

.promo-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

/* Projects Section */

.projects {
  padding: 3% 15%;
  color: #333;
  background-color: #377180;
}

.project-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.display {
  margin-top: 5%;
  width: 30%;
}

.project-img {
  width: 100%;
  height: auto;
  margin-bottom: 10%;
}

.btn-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

.project-btn {
  background-color: #377180;
  border: 2px solid #BAF1FF;
  font-size: 1rem;
  padding: .5rem;
  width: 45%;
  border-radius: 4px;
  font: inherit;
  color: #BAF1FF;
}

.project-btn:hover {
  background-color: #BAF1FF;
  border: 2px solid #377180;
  color: #377180;
  transition: all .5s;
}

/* Contact Section */

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 3% 15%;
  color: #333;
  background-color: #BAF1FF;
}

.contact-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  align-content: space-between;
  margin-top: 50px;
}

.contact-field, .message {
  margin-bottom: 3%;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  font: inherit;
  border: none;
}

.contact-field {
  width: 15rem;
}

.message {
  width: 40rem;
  height: 10rem;
}

.submit {
  background-color: #BAF1FF;
  border: 2px solid #377180;
  font-size: 1rem;
  padding: .5rem;
  width: 8rem;
  border-radius: 4px;
  font: inherit;
  color: #377180;
  transition: all .5s;
}

.submit:hover {
  background-color: #377180;
  border: 2px solid #BAF1FF;
  color: #BAF1FF;
  transition: all .5s;
}

/* Footer Section */

.footer {
  padding: 3% 15%;
  color: #BAF1FF;
  background-color: #377180;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.footer-icon {
  font-size: 1.75rem;
  text-decoration: none;
  margin-left: 3%;
  color: #BAF1FF;
  transition: all .5s;
}

.footer-icon:hover {
  color: #6EE2FF;
  transition: all .5s;
}
